$color-white: #FFFFFF;
$color-black: #000000;
$color-blue: #0139A4;
$color-blue-1: #539ffd;
$color-blue-2: #11c5e0;
$color-green: #21cec6;
$color-red: #ff7674;
$color-red-1: #ff0042;
$color-yellow: #ffab03;
$color-orange: #ff9900;
$color-grey: darken($color-white, 20%);
$color-border: darken($color-white, 10%);
$color-background: #f7f7f7;
$color-background-1: darken($color-white, 4%);
$color-background-2: #f8f9fb;
$color-shadow: #cbd1ff;
$color-shadow-1: #d8ddf1;
$color-enter: #C8C8C8;
$color-green-light: lighten(#21cec6, 50.8%);

$style-border: 1px solid $color-border;

$text-primary-color: #333;
$text-gray-color: #666;
$text-light-color: #999;
$text-placeholder: #cfd1de;

$text-second-color: #a0a4bd;
$text-third-color: #666666;

$doc-width: 1500;
$win-width: 37.5rem;

@function rem($px) {
  @return $px * $win-width / $doc-width;
}

$body-height: 100vh;
$status-height: rem(20);
$head-height: rem(78);
$foot-height: rem(50);
$padding: rem(15);
@mixin touch-background {
  -webkit-tap-highlight-color: rgba(127, 221, 213, .2);
}
@mixin arrow($rotate: 45deg) {
  border: solid 2px #c8c8cd;
  border-bottom-width: 0;
  border-left-width: 0;
  content: " ";
  top: 50%;
  position: absolute;
  width: rem(10);
  height: rem(10);
  -webkit-transform: translateY(-50%) rotate($rotate);
  transform: translateY(-50%) rotate($rotate);
}
.field-bottom {
  height: rem(60);
  background-color: transparent;
  display: table;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  width: 100%;
}
.field-button{
  width: rem(280);
  height: rem(40);
  line-height: rem(40);
  font-size: rem(16);
  text-align: center;
  border-radius: rem(24);
  color: #fff;
  background:linear-gradient(270deg,rgba(255,135,0,1) 0%,rgba(255,163,0,1) 100%);
  margin: rem(20) auto;
}
.pageMargin {
  margin-top: rem(20);
}
.pageMarginbtm{
  padding-bottom: rem(60);
}